{% extends 'base.html.twig' %}

{% block body %}
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia aliquid sapiente architecto vero! Error, sit velit expedita beatae veniam eius itaque necessitatibus tempora assumenda modi quam a? Voluptatibus, eligendi facere!</p>
<br>
<p>{{zemmer}}</p>
{% endblock %}
